:root {
  --dimmed-primary: rgb(41, 41, 41);
  --dimmed-secondary: rgb(30, 31, 34);
  --dimmed-tertiary: rgb(20, 20, 20);

  --background-primary: var(--dimmed-primary);
  --background-secondary: var(--dimmed-secondary);
  --background-tertiary: var(--dimmed-tertiary);

  --bg-overlay-chat: rgb(33, 33, 33);
  --channeltextarea-background: rgb(50, 50, 50);
  --profile-background: rgb(36, 36, 36);

  --scrollbar-auto-track: var(--channeltextarea-background);
  --bg-overlay-2: var(--background-secondary);
  --home-background: var(--bg-overlay-chat);
  --modal-background: var(--bg-overlay-chat);
  --modal-footer-background: var(--background-primary);
}

[class*="children"]:after,
[class*="form"]:before {
  display: none !important;
}
