:root {
  --background-primary: rgb(41, 41, 41);
  --bg-overlay-chat: rgb(33, 33, 33);
  --bg-overlay-2: rgb(30, 31, 34);
  --background-secondary: rgb(30, 31, 34);
  --background-tertiary: rgb(20, 20, 20);
  --scrollbar-auto-track: rgb(50, 51, 54);
  --channeltextarea-background: rgb(50, 50, 50);
  --home-background: rgb(33, 33, 33);
  --modal-background: rgb(33, 33, 33);
  --modal-footer-background: rgb(41, 41, 41);
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz {
  background-color: rgb(50, 50, 50);
}

.autocomplete-3NRXG8,
.categoryHeader-OpJ1Ly {
  background-color: rgb(30, 31, 34);
}

.userProfileInnerThemedNonPremium-2AJg-H,
.contentWrapper-3vHNP2 {
  background: rgb(36, 36, 36);
}

.bodyWrapper-1eSOtW,
.wrapper-1NNaWG,
.inspector-DFKXwB {
  background-color: rgb(21, 21, 21);
}

.messageContainer-3VTXBC,
.messages-23can0,
.messageGroupCozy-3v_RqN {
  background-color: rgb(41, 41, 41) !important;
}

.container-2IKOsH,
.emptyPage-2TGR7j,
.scrollerContainer-y16Rs9,
.header-3xB4vB,
.container-1um7CU,
.pageWrapper-2PwDoS,
.messagesPopout-eVzQcI,
.channelHeader-DFRX8q,
.directoryContainer-z-0pgp,
.scroller-145h9c,
.list-3YHPPb {
  background-color: rgb(33, 33, 33) !important;
}

.children-3xh0VB:after {
  display: none;
}
